.page-title {
  margin: 30px auto 60px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  background: gainsboro;
  padding: 10px 20px;
}

.page-title-string {
  font-size: 30px;
  text-transform: uppercase;
  display: block;
  font-weight: normal;
}

.page-title-decorator {
  font-size: 16px;
  font-weight: normal;
}
