.game-pawn {
  margin-top: 60px;
}

.game-pawn-button {
  border-radius: 5px;
  height: 50px;
  padding: 20px 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  background-color: #074030;
  color: white;
  position: relative;
  transition: width .6s cubic-bezier(.19,1,.22,1) 0s;
  z-index: 1;
  &:before {
    content: "";
    height: 100%;
    left: -10%;
    position: absolute;
    top: 0;
    transform: skewX(20deg);
    transition: width .6s cubic-bezier(.19,1,.22,1) 0s;
    width: 0;
    z-index: -1;
    background: #052b20;
  }
  &:hover,
  &:focus,
  &.active {
    &:before {
      width: 120%;
    }
  }
}
