@import '../../../../assets/styles/vars';

.frame-board-container {
  position: relative;
}

.frame-board {
  border: 2px solid $cell-dark;
  max-width: 604px;
  max-height: 604px;
  width: 90%;
}

.frame-board-cols-caption {
  position: absolute;
  bottom: -30px;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  &.frame-board-reverse {
    top: -30px;
    bottom: initial;
    .frame-board-col-name {
      transform: rotate(180deg);
    }
  }
}

.frame-board-col-name {
  color: $cell-dark;
  width: 75px;
}

.frame-board-rows-caption {
  position: absolute;
  left: -30px;
  top: 0;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  width: 30px;
  &.frame-board-reverse {
    right: -30px;
    left: initial;
    .frame-board-row-name {
      transform: rotate(180deg);
    }
  }
}

.frame-board-row-name {
  color: $cell-dark;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
