@import '../../../../assets/styles/vars';

.cells {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  cursor: pointer;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  width: 12.5%;
  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
  &:hover {
    box-shadow: inset 0px 0px 20px 2px rgba(7,64,48,0.75);
  }
}

.cell-dark {
  background-color: $cell-dark;
}

.cell-light {
  background-color: $cell-light;
}

// white pieces

.cell[data-piece='p'] {
  background-image: url('../../../../assets/img/pawn-black.png');
}

.cell[data-piece='r'] {
  background-image: url('../../../../assets/img/tower-black.png');
}

.cell[data-piece='n'] {
  background-image: url('../../../../assets/img/knight-black.png');
}

.cell[data-piece='b'] {
  background-image: url('../../../../assets/img/bishop-black.png');
}

.cell[data-piece='q'] {
  background-image: url('../../../../assets/img/queen-black.png');
}

.cell[data-piece='k'] {
  background-image: url('../../../../assets/img/king-black.png');
}

// black pieces

.cell[data-piece='P'] {
  background-image: url('../../../../assets/img/pawn-white.png');
}

.cell[data-piece='R'] {
  background-image: url('../../../../assets/img/tower-white.png');
}

.cell[data-piece='N'] {
  background-image: url('../../../../assets/img/knight-white.png');
}

.cell[data-piece='B'] {
  background-image: url('../../../../assets/img/bishop-white.png');
}

.cell[data-piece='Q'] {
  background-image: url('../../../../assets/img/queen-white.png');
}

.cell[data-piece='K'] {
  background-image: url('../../../../assets/img/king-white.png');
}


.cell[data-tentative='true'] {
  position: relative;
  &:before {
    content: '';
    width: 50%;
    height: 50%;
    background-color: rgba(0,0,0,0.25);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
  }
  &:not([data-piece="0"]) {
    &:before {
      background-color: rgba(253, 82, 82, 0.25);
    }
  }
}

.cell[data-selected='true'] {
  position: relative;
  border: 4px solid rgba(255, 0, 0, 0.5);
}
