* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-size: $font-size;
  font-family: $corporate-font;
}

p {
  font-size: $font-size;
  margin-bottom: 8px;
}

ul {
  list-style: none;
}

abbr[title] {
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

