// BREAKPOINTS
$mobile-size: 320px;
$tablet-size: 768px;
$desktop-size: 1280px;

// MEDIA QUERIES
$tablet: "(min-width: #{$mobile-size}) and (max-width: #{$tablet-size})";
$desktop: "(min-width: #{$tablet-size})";

// COLORS
$white: #fff;
$black: #000;
$cell-dark: #769656;
$cell-light: #eeeed2;
$dark-grey: #2A2D31;
$primary: #45BEDE;
$success: #2BDE89;
$warning: #E7AE5F;
$danger: #FD5050;
$text: #7A7A7A;

// FONTS
$corporate-font: 'Lato', sans-serif;
$font-size: 16px;
